body{
    color: pink;
    background-color: black;
}     
h1{
    font-family: Arial;
    font-size: 22px;
}
p.ommig{
border: 2px solid;
}

p.Teknik
{
  background-color:orange;
  text-align: center;
  color: black;
}
p.minatankar{
text-align: right;
}
a{
text-decoration: none;
}
